body{
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.title{
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
}
.icon{
  height: 50px;
}
.btn{
  background-color: transparent;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
  width: 120px;
  height: 120px;
  margin-right: 10px; 
}
.result{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}
.scores{
  margin-top: 60px;
}
.reset-btn{
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}